.btn-group{
	left:10%;
}

#fbL{
	color:white;
}

#body{
	background-color: #000000; 
	color: white;
}

body{
 	font-family: "Raleway";
	background-color:grey; 
}

#playerErasser{
	background-image: url('HSm.PNG');
}

.btn{
	color:white;
}

#bigLetters{
	font-size: 80px;
	color: white;
	line-height: 0.9;
	margin-left:20px;
}

#mediumLetters{
	font-size: 60px;
	color: grey;
	line-height: 0.99;
	margin-left:20px;
}

#normalLetters{
	font-size: 20px;
	color: white;
	margin-left:20px;
}

#LMButton{
	border-radius: 12%;
	background-color: orange;
	color:black;
	font-size:30px;
	}

#exploreSoundsTitle{
	color:black;
	font-size:40px;
	text-align:center;
}

#exploreSound{
	background-color:white;
}

#whiteLine{
	background-color:white;
}

