


#body{
	background-color: #000000; 
	color: white;
}

body{
 	font-family: "Raleway";
	background-color:grey; 
}

#playerErasser{
	background-image: url('HSm.PNG');
}

/* .btn ,#fbL{
	color:#d9d9d9;
}

#fbL:hover, .btn:hover{
	color:white;
} */

.btn ,#fbL{
	color:white;
}

#fbL:hover, .btn:hover, #fbL:active, .btn:active{
	color:orange;
}

#search{
	border-radius:42px;
}

#noFound{
	visibility:hidden; 
}

#sucess{
	visibility:hidden; 
}

#bigLetters{
	font-size: 80px;
	color: white;
	line-height: 0.9;
	margin-left:20px;
	font-weight: bold;
}

#mediumLetters{
	font-size: 60px;
	color: grey;
	line-height: 0.99;
	margin-left:20px;
	font-weight: bold;
}

#normalLetters{
	font-size: 20px;
	color: white;
	margin-left:20px;
}

#CformContainer{
	
}

#LMButton{
	
	border-radius:42px;
	background-color: orange;
	color:black;
	font-size:30px;
	}

#exploreSoundsTitle{
	color:black;
	font-size:40px;
	text-align:center;
}

#exploreSound, #searchFieldWhite{
	background-color:white;
	color:black;
}

#closeButton{
	visibility: hidden;
	background-color:red;
}

.blackbtn{
	background-color:black;
}

.download{
	background-color:black;
}

#accordion{
	
}

#whiteLine{
	background-color:white;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: white;
  color: black;
}

#submitR, #submitC{
	visibility: hidden;
} 
